
span.ni-ji      {  background-color: rgb(175, 55, 25); }
 
span.riki       {  background-color: rgb(175, 55, 25); color:black;}
span.jinn       {  background-color: rgb(175, 55, 25); color:black;}
span.chitchi-jiki{ background-color: rgb(175, 55, 25); color:black;}
span.dai        {  background-color: rgb(243, 67, 19);  color:white;}
span.zai        {  background-color: rgb(243, 67, 19);  color:black;}
span.sai        {  background-color: rgb(243, 67, 19);  color:black;}
span.rai        {  background-color: rgb(202, 158, 145);  color:black;}
span.nann       {  background-color: rgb(104, 146, 7);  color:black;}

span.tokou       {  background-color: rgb(40, 38, 107);  color:white;}
span.mou-ryo     {  background-color: rgb(40, 38, 107);  color:white;}
span.boutsou     {  background-color: rgb(40, 38, 107);  color:white;}
 
/*
span.so         {  background-color: rgb(11, 34, 133); color:black;}
span.sa         {  background-color: rgb(177, 182, 159); color:black;}
span.se         {  background-color: rgb(73, 92, 4);  color:black;}
*/

