/*
body{
    padding : 0 2rem ;
    position: relative ;
    height : 100vh ;
    max-width: 600px ;
    margin : auto ;
}
*/
body{
    background-color: rgb(0,0,0) ;
    color : rgb(255,255,255) ;
    font-family: "Arial";
    text-justify: inter-character;
}

body{
    font-size: 7vw; /* clamp(1rem, 6vw, 100rem);*/
    padding: 10px 10px;
}

h1 {
    /*font-size: 4rem ;
    padding: 2rem 0;*/
    color: rgb(99, 99, 99) ;
    line-height: 1.1;
    padding-bottom: 3vw;
    font-weight: bold;
}


article {
    line-height: 1.2;
    padding: 3vw 0;
    /*border: 1px solid rgb(145, 145, 145);*/
}

article h2 {
    line-height: 1.1;
    color: rgb(128, 128, 128) ;

    font-weight: bold;
    font-style: italic;
}

.namyo3 {
    line-height: 1.1;
    color: rgb(128, 128, 128) ;
    font-weight: bold;
    font-style: italic;    
}

article p {
    padding-bottom: 4vw;
}

I {
    font-style: italic;
}

